# Cấu hình Cổng chạy Backend
PORT=3001

# Chuỗi kết nối Database đến MySQL
# Định dạng: mysql://<username>:<password>@<host>:<port>/<database_name>
DATABASE_URL="mysql://root:@localhost:3306/classmate"
